
  <body>
    <h1>Sign Up From</h1>
    <from>
      <form action="welcome.html">
        <label>Frist Name:</label><br>
        <input type="text" name="name"><br><br>
        <label>Last Name:</label><br>
        <input type="text" name="lastname"><br><br>

        <label>Gender :</label><br>
        <input type="radio">Male<br>
        <input type="radio">Female<br><br>
        <label>Nationality</label><br>
        <select name="Nationality">
          <option value="Indonesia">Indonesia</option>
          <option value="Malaysia">Malaysia</option>
        </select> <br><br>
        <label>Language aspoken</label><br>
        <input type="checkbox" name="Language aspoken">Bahasa Indonesia<br>
        <input type="checkbox" name="Language aspoken">English<br>
        <input type="checkbox" name="Language aspoken">Other<br>
        <label>bio</label><br>
        <textarea name="Bio" rows="10" cols="30"></textarea><br>
        <input type="submit" Value="Sign Up">
    </from>
  </body>
